html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.MuiBottomNavigationAction-root {
  width: 25%;
  color: black;
  background-color: #ccc;
}

.MuiBottomNavigationAction-label {
  font-size: large !important;
}
/* selected doesnt transfer over on links so temprarily disabling */
.Mui-selected {
  color:black !important;
}
